libboost-coroutine-dev
libboost-date-time-dev
libboost-filesystem-dev
libboost-iostreams-dev
libboost-locale-dev
libboost-log-dev
libboost-program-options-dev
libboost-serialization-dev
libboost-stacktrace-dev
libboost-test-dev
libssl-dev
makeself
